  {{> nav}}

<div class="container">

    <h2 class="text-center">Edit About Page</h2><hr>

    <div id="aboutEdit" class="row list-group">

        {{#about}}
            <div class="item list-group-item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="{{heroImg}}" alt="" />
                    <div class="caption">
                        <form method="POST" action="/about">
                          <input type="text" class="hidden" value="{{id}}" name="id">                           
                          <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="group inner" placeholder="Title" value="{{title}}" name="title" size="40">
                          </div>

                          <div class="form-group">
                            <label>Description</label><br>
                            <textarea cols="110" rows="5" class="group inner" placeholder="Description" id="description" name="description">{{description}}</textarea>
                          </div>

                          <div class="form-group">
                            <label>Sign Off</label>
                            <input type="text" class="group inner" placeholder="Sign Off" value="{{signOff}}" name="signOff" size="90">
                          </div>                          

                          {{#each aboutPics}}
                            <div class="form-group">
                              <label>About Image Direct Link</label>
                              <input type="text" class="group inner" placeholder="www.imgur.com/myimage" value="{{this}}" name="pic{{@index}}" size="40">
                            </div>      
                          {{/each}}

                          <button type="submit" class="btn btn-primary buttonMiddle">Update About</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/about}}

    </div>
    
</div>