  {{> nav}}

<div class="container">

    <h2 class="text-center">Edit About Page</h2><hr>

    <div id="aboutEdit" class="row list-group">

        {{#about}}
            <div class="item list-group-item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="{{heroImg}}" alt="" />
                    <div class="caption">
                        <form method="POST" action="/about">
                          <input type="text" class="hidden" value="{{id}}" name="id">                           
                          <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="group inner" placeholder="Title" value="{{title}}" name="title" size="40">
                          </div>

                          <div class="form-group">
                            <label>Description</label><br>
                            <textarea cols="110" rows="5" class="group inner" placeholder="Description" id="description" name="description">{{description}}</textarea>
                          </div>

                          <div class="form-group">
                            <label>Sign Off</label><br>
                            <input type="text" class="group inner" placeholder="Sign Off" value="{{signOff}}" name="signOff" size="90">
                          </div>                          

                          {{#each aboutPics}}
                            <div class="row">
                              <div class="form-group col-xs-4">
                                <label>Image {{inc @index}}</label><br>
                                <input type="text" class="group inner" placeholder="www.imgur.com/myimage" value="{{this}}" name="pic{{inc @index}}" size="40">
                              </div>      
                              
                              <i class="fa fa-times btn btn-danger adminBtn" aria-hidden="true" onclick=""></i>
                            </div>
                          {{/each}}

                          <div class="row">
                            
                            <div class="form-group col-xs-4">
                              <label>Add a new image?</label><br>
                              <input type="text" class="group inner" placeholder="<insert direct link here>" value="" name="picNew" size="40">
                            </div> 

                            {{!-- <i class="fa fa-check btn btn-success adminBtn" aria-hidden="true"></i> --}}
                            {{!-- <button class="col-xs-1 btn btn-success adminBtn">Add Image</button>  --}}

                          </div>


                          <button type="submit" class="btn btn-primary buttonMiddle">Update About</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/about}}

    </div>
    
</div>