  {{> nav}}

<div class="container">

    <h2 class="text-center">Edit {{category}}</h2><hr>

    <div id="products" class="row list-group">

        {{#each products}}
            <div class="item list-group-item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="../../public/images/products/1x/{{imgExtension}}" alt="" />
                    <div class="caption">
                        <form method="POST" action="/products/edit/{{id}}">
                          <input type="text" class="hidden" value="{{id}}" name="id">                           
                          <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="group inner" placeholder="Product Name" value="{{name}}" name="name" size="40">
                          </div>
                           <div class="form-group">
                            <label for="description">Description</label><br>
                            <textarea cols="70" rows="3" class="group inner" placeholder="Product Description" id="description" name="description">{{description}}</textarea>
                          </div>
                          <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="group inner" placeholder="Price" value="{{price}}" name="price">
                          </div>
                          <div class="form-group">
                            <label>Image Storage Location</label>
                            <input type="text" class="group inner" placeholder="www.imgur.com/myimage" value="{{imgURL}}" name="imgURL" size="40">
                          </div>                          
                          <button type="submit" class="btn btn-primary">Update Product</button>
                          <button type="button" onclick="removeProduct('{{id}}')" class="btn btn-danger pull-right">Remove Product</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}

            {{!-- add new product --}}
            <div class="item list-group-item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://comps.canstockphoto.com/can-stock-photo_csp9810958.jpg" alt="" />
                    <div class="caption">
                        <form method="POST" action="/products/create">
                          <input type="text" class="hidden" value="{{category}}" name="category">                       
                          <div class="form-group">
                            <label>Id</label>
                            <input type="text" class="group inner" placeholder="ex: colorado-paddle" name="id" size="40">
                          </div>                                                   
                          <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="group inner" placeholder="ex: Colorado Paddle" name="name" size="40">
                          </div>
                           <div class="form-group">
                            <label for="description">Description</label><br>
                            <textarea cols="70" rows="3" class="group inner" placeholder="Write product description here" id="description" name="description"></textarea>
                          </div>
                          <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="group inner" placeholder="ex: 45.00" name="price">
                          </div>                         
                          <div class="form-group">
                            <label>Image Storage Location</label>
                            <input type="text" class="group inner" placeholder="www.imgur.com/myimage" name="imgURL" size="40">
                          </div>                          
                          <button type="submit" class="btn btn-success">Create New Product</button>
                        </form>
                    </div>
                </div>
            </div>

    </div>
    
</div>