  {{> nav}}

<div class="container">
    <div class="well well-sm">
        <strong>All {{category}}</strong>
        <div class="btn-group" role="group" aria-label="First group">
            <a href="/products/{{id}}" id="grid" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th"></span> Grid
            </a>
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th-list"></span>List
            </a> 
        </div>          
    </div>
    <div id="products" class="row list-group">

        {{#each products}}

            <div class="item productItem col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="/products/{{category}}/{{id}}">
                        {{!-- <img class="group list-group-image" src="../public/images/products/1x/{{imgExtension}}" alt="" /> --}}
                        <img class="group list-group-image" src="{{imgURL}}" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            {{name}}</h4>
                        <p class="group inner list-group-item-text">{{description}}</p>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4 col-xs-12">
                                <p class="lead">
                                    ${{price}}</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="/products/{{id}}">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}

    </div>
    
</div>


    {{!-- http://placehold.it/400x250/000/fff --}}
